:root{
  --CircleWidth: ;
  --CircleHeight: ;
}

*{
  padding: 0;
  margin: 0;
  background-color: gray;

}

html{
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1,p{
  color: white;
  font-family: sans-serif;
}

h2{
  font-family: 'Montserrat';
  color: white;
  float: inline-start;
}   

nav{
  padding-bottom: 10%;
  background-color: #f1503c;
  margin-bottom: 1%;
  border-style: solid;
  border-color: #12130f;
  position: relative;
  height: 50px;
}

.text-nav{
  background-color: #f1503c;
  font-weight: lighter;
  padding-left: 4%;
  padding-top: 2%;
}
    
.content{
  background-color: #12130f;
  padding-top: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.content *{
  background-color: #12130f;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.content > h1{
  text-align: center;
}

.TopContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-container {
  display: flex;
  justify-content: center;   
  gap: 10vw;                
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  align-items: center;
}

.outer-circle {
  width: 100px;
  height: 100px;
  background-color: gray; 
  border-radius: 50%;
  border: 3px solid #12130f;
  position: relative;
  overflow: visible;
}

.inner-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #12130f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Insert Images */
#Me_In {
  background-image: url("Me.jpg");
}

#Facebook_In {
  background-image: url("facebook-logo.png");
  cursor: pointer;
}

#Github_In {
  background-image: url("github.png");
  cursor: pointer;

}

#Phone_In {
  background-image: url("phone.png");
  cursor: pointer;

}

#Email_In {
  background-image: url("email.png");
  cursor: pointer;

}

.circle-container .outer-circle:nth-child(3) {
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-right: 25px;
}

.circle-container .outer-circle:nth-child(3) .inner-circle {
  width: 120px;
  height: 120px;
}

div.udm{
  left: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
  background-image: url("udm.webp");
  animation: MoveLeftOutToIn 3s infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-timing-function: reverse;
  background-color: transparent;
  z-index: 5;
  padding: 0;
}

.arrow {
    cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.about_title{
  font-size: xx-large;
  font-weight: 300;
}

.about{
  width: 65vw;
  margin-top: 10%;
  padding-top: 25px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}

.projects{
  margin: 0px;
  width: 100vw;
}

.project1{
  margin: 0;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
} 

.vid1{
  float: left;
  margin: 0;
  margin-right: 20px;
}

.project2{
  margin: 0;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
} 

.vid2{
  float: right;
  margin: 0;
  margin-right: 20px;
}

p{
  margin: 0;
}

@keyframes MoveLeftOutToIn {
    from {left: 90vw;rotate: 360deg;}
    to {left: 0px; rotate: 0deg;}
}

@media (max-width: 1100px) {
  .circle-container > *:not(:nth-child(3)) {
    display: none;
  }

  .circle-container .outer-circle:nth-child(3) {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
}
  .circle-container .outer-circle:nth-child(3) .inner-circle {
    width: 80px;
    height: 80px;
}

  .content{
     padding-top: 80px; 
  }

}

